<a href="https://colab.research.google.com/github/qtren/logisticRegressionProblem/blob/main/logisticRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import *

In [27]:
dt = pd.read_csv("breast_cancer.csv")
dt

     Sample code number  Clump Thickness  ...  Mitoses  Class
0               1000025                5  ...        1      2
1               1002945                5  ...        1      2
2               1015425                3  ...        1      2
3               1016277                6  ...        1      2
4               1017023                4  ...        1      2
..                  ...              ...  ...      ...    ...
678              776715                3  ...        1      2
679              841769                2  ...        1      2
680              888820                5  ...        2      4
681              897471                4  ...        1      4
682              897471                4  ...        1      4

[683 rows x 11 columns]

In [28]:
X = dt.iloc[:, 1:-1]
X = X.to_numpy()
y = dt['Class']
# Notice in the original data set, Class = 2, or 4, where 2 means no, 4 means yes
y = [0 if a == 2 else 1 for a in y]

In [29]:
# Train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=4)

In [30]:
# Train model according to train set
clf = LogisticRegression().fit(X_train, y_train)

In [34]:
y_pred = clf.predict(X_test)

In [35]:
clf.score(X_test, y_test)

0.9532163742690059

In [36]:
# 95% might look good, but is not good enough for medical purpose
# Let's see the confusion matrix

confusion_matrix(y_test, y_pred)

array([[103,   7],
       [  1,  60]])

In [38]:
# 10-fold CV
# This shows the model does work in practice, as it achieves above 90% acc in all cases

from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator=clf, cv=10, X=X, y=y)
accuracies

array([0.92753623, 0.97101449, 0.94202899, 0.94117647, 1.        ,
       0.97058824, 0.95588235, 1.        , 0.97058824, 1.        ])